@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&display=swap');

@media all { 
    /* CONFIGURACOES GERAIS */
    :root {
        --color-background: #2a2f35;
        --color-darkbg: #1e2329;
        --color-orange: #ec6130;
        --color-font: #8e8e8e;
        --font-primary: "Kanit", sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        scroll-behavior: smooth;
    }

    body {
        background-color: #f3f3f3;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('../images/mountain.jpg');
        background-repeat: no-repeat;
        background-position: center top;
    }

    a {
        text-decoration: none;
        color: inherit;
    } a:hover {
        opacity: .7;
        transition: opacity .2s ease;
    }



    /* GRID CONTAINER - FULL PAGE*/
    .container {
        max-width: 1280px;
        height: 100svh;
        margin: auto;
        display: grid;
        grid-template-areas:
        "masthead masthead masthead"
        "header header header"
        ". main ."
        ". footer ."
        ". up .";
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 80px 230px 1fr 300px 70px;
    }
    
    .grid-item {
        background: transparent;
    }



    /* [MASTHEAD] */
    .masthead {
        grid-area: masthead;
        background-color: var(--color-background);
        color: white;
        display: flex;
        justify-content: space-between;
    }

    /* > LOGO - TITULO */
    .masthead .title {
        height: 100%;
        margin-left: 60px;
        margin-right: 26px;
        display: flex;
        align-items: center;
    }

    .masthead .title #h1 {
        font-size: 2.25em;
        font-family: var(--font-primary);
        font-weight: 400;
        margin-right: 20px;
    }

    .masthead .title #h1::after {
        content: '.';
        color: var(--color-orange);
    }

    .masthead .title #h2 {
        font-size: .8em;
    }

    /* > MENU */
    .masthead .menu-items {
        height: 100%;
        margin-right: 60px;
    }

    .menu-items ul {
        text-align: center;
        list-style-type: none;
        height: 100%;
        font-size: .7em;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }

    .menu-items ul li {
        padding: 32px 16px;
        margin-top: 3px;
    }

    .menu-items ul li:last-child {
        padding-right: 0px;
    }

    .menu-items ul li:first-child {
        margin-top: 0;
        background-color: var(--color-darkbg);
        border-top: 3px solid var(--color-orange);
    }



    /* [HEADER] */
    .header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        opacity: .8;
    }

    .header .header-h1 {
        font-size: 2.5em;
        font-family: var(--font-primary);
        font-weight: 600;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }

    .header .header-h2 {
        font-size: 1.1em;
        padding: 12px 0;
    }



    /* [MAIN] */
    .main {
        grid-area: main;
        padding: 24px;
        background-color: white;
        border-top: 3px solid var(--color-orange);
        box-shadow: 0px 0px 8px rgba(0,0,0,.4);
    }

    .main .section {
        padding-top: 24px;
        margin-bottom: 20px;
        border-top: 3px solid rgba(211, 211, 211, 0.7);
    }

    /* > ARTICLES (all) */
    .main .article {
        color: var(--color-font);
    }

    .main .article h1 {
        font-family: var(--font-primary);
        font-weight: 100;
        font-size: 1.5em;
        letter-spacing: .1em;
        margin: 12px 0;
    }

    .main .article h2 {
        color: var(--color-background);
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: .8em;
    }

    .main .article p {
        font-size: .8em;
        line-height: 1.5em;
    }


    /* > SERVICES */
    .main #section-top {
        display: grid;
        grid-template-areas: 
            "services marketing design development"
            "view-more view-more view-more view-more";
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 60px; 
        column-gap: 20px;   
    }
        #services {grid-area: services; min-width: 225px;}
        #marketing {grid-area: marketing;}
        #design {grid-area: design;}
        #development {grid-area: development;}
        #view-more {grid-area: view-more;}

    /* > > IMGs + ARTICLE TITLE, view-more button */
    .article-title img {
        width: 40px;
        margin-right: 8px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px rgb(0, 0, 0, .5);
    }

    .article-title {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .main #view-more {
        align-self: end;
    }

    .main .view-button button {
        padding: 8px 16px;
        cursor: pointer;
        color: white;
        background-color: var(--color-background);
        border: none;
        border-radius: 2px;
    }

    .view-button button:active {
        background-color: #363e49;
    }

    /* > WORKS */
    .main #section-middle {
        display: grid;
        grid-template-areas: 
            "works pictures"
            "view-more left-right";
        grid-template-columns: 1.4fr 3fr;
        grid-template-rows: 1fr 60px; 
        column-gap: 20px;
    }
        #works {grid-area: works; min-width: 225px;}
        #pictures {grid-area: pictures;}
        #view-more {grid-area: view-more;}
        #left-right {grid-area: left-right;}

    .main #section-middle #pictures {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 20px;
    }  

    .main #section-middle #pictures img {
        width: 31%;
        box-shadow: 1px 1px 4px rgb(0, 0, 0, .5);
    }

    /* > WORKS > BUTTONS */
    .main #view-portifolio {
        align-self: end;
    }

    .main #left-right {
        align-self: end;
        justify-self: end;
    }

    .main #left-right .pass-button {
        font-weight: bold;
        padding: 6px 8px;
        cursor: pointer;
        color: white;
        border: none;
        border-radius: 2px;
        box-shadow: 0px 0px 4px rgba(0,0,0,.2);
    }

    .main #left-right #left-button {
        background-color: var(--color-background);
    }

    .main #left-right #right-button {
        background-color: var(--color-orange);
    }

    .main #left-right #left-button:active {
        background-color: #363e49;
    }

    .main #left-right #right-button:active {
        background-color: #eb7950;
    }



    /* [SECTION BOTTOM] */
    .main #section-bottom {
        display: grid;
        grid-template-areas: 
            "blog testimonials";
        grid-template-columns: 1.3fr 1fr;
        column-gap: 40px;
    }
        #blog {grid-area: blog;}
        #testimonials {grid-area: testimonials;}

    /* > BLOG */
    .blog-item {
        font-size: .7em;
        display: grid;        
        grid-template-columns: 80px 1.8fr 1fr 35px 70px;
        grid-template-rows: 2em 1fr 1.2em;
        gap: 8px;
        margin-bottom: 20px;
    }
        .blog-pic{grid-area: 1 / 1 / 4 / 2;}
        .blog-title{grid-area: 1 / 2 / 2 / 3; color: var(--color-background);}
        .blog-author{grid-area: 1 / 3 / 2 / 4; color: var(--color-orange);}
        .blog-date{grid-area: 1 / 4 / 2 / 5; color: var(--color-orange);}
        .blog-coments{grid-area: 1 / 5 / 2 / 6; color: var(--color-orange);}
        .blog-text{grid-area: 2 / 2 / 3 / 6;}
        .blog-link{grid-area: 3 / 2 / 4 / 6;}

    .main #section-bottom #blog img{
        max-width: 80px;
    }

    #blog-item2 {
        padding-top: 28px;
        border-top: 2px solid rgba(211, 211, 211, 0.7);
    }

    /* > TESTIMONIALS */
    #testimonials {
        margin-top: 28px;
        display: flex;
        align-items: end;
        column-gap: 12px;
    }

    /* > > TEST-PROFILE */
    .test-item p {
        text-align: center;
    }

    .test-profile {

        padding: 4px;
        background-color: #e4e3e3;
        display: grid;
        grid-template-columns: 56px auto;
        grid-template-rows: 26px 26px;
        gap: 4px;
    }

    .test-profile img {
        width: 56px;
    }

    .test-profile h3 {
        align-self: end;
        font-size: .7em;
        color: rgb(99, 98, 98);
    }

    .test-profile h4 {
        font-size: .65em;
        grid-area: 2 / 2 / 3 / 3;
        align-self: start;
    }



    /* [FOOTER & BOTTOM-FOOTER] */
    footer {
        grid-area: footer;
        border-top: 3px solid var(--color-orange);
        background-color: var(--color-darkbg);
        box-shadow: 0px 0px 8px rgba(0,0,0,.4);
        color: #e0e0e0;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5fr 1fr;
        column-gap: 20px;
    }

    #social img {
        border-radius: 4px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
        transition: all .2s;
    }

    .social-links > a {
        all: unset;
        cursor: pointer;
    }

   .social-links:has(img:hover) img:not(:hover) {
        opacity: .75;
        scale: .9;
    }

    #flickr img {
        width: 40px;
    }

    footer h2 {
        font-family: var(--font-primary);
        font-size: .8em;
        margin-bottom: 20px;
    }

    footer p {
        margin: 12px 0;
        color: #c7c7c7;
        font-size: .7em;
    }

    #bottom-footer {
        grid-area: 2 / 1 / 3 / 5;
        align-self: end;
        font-size: .55em;
        padding-top: 12px;
        border-top: 2px solid rgba(211, 211, 211, 0.7);
        display: flex;
        justify-content: space-between;
    }

    .footer-menu ul {
        list-style-type: none;
    }

    .footer-menu ul li {
        display: inline-block;
        margin-right: 8px;
    }



    /* [UP BUTTON] */
    #up-button {
        grid-area: up;
        justify-self: center;
        margin-top: 20px;
    }

    #up-button button {
        cursor: pointer;
        padding: 4px 8px;
        color: white;
        background-color: var(--color-orange);
        border: none;
        border-radius: 50%;
        box-shadow: 0px 0px 4px rgba(0,0,0,.2);
    }

    #up-button button:active {
        background-color: #eb7950;
    }
}

/* Reposicionamento do masthead - small screens */
@media screen and (max-width: 700px) {
    .masthead .title {
        margin-left: 10px;
    }

    .masthead .menu-items {
        margin-right: 10px;
    }
}

@media screen and (min-width: 701px) and (max-width: 750px) {
    .masthead .title {
        margin-left: 20px;
    }

    .masthead .menu-items {
        margin-right: 20px;
    }
}